body{background-color:#f2eee8;
	font-family: Georgia;
    margin: 0;
    max-width: 100%;
    color:#4E0A0B}
.nav-menu ul {display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;}
.nav-menu li {margin: 0;}
.nav-menu a {color: #4E0A0B;
    display: block;
    font-size: 1.2vw;
    margin: 0;       
    padding: 0.5vw 1vw;
    text-decoration: none;}
hr{background-color:#3e8440;}
.theme-image {
    display: block;
    margin: 0 auto;
    width: 40vw;
    height: auto;}
.about-text{color:#4E0A0B;
    margin-left:17vw;
    margin-right: 15vw;}
.about-title{color:#4E0A0B;
    margin-left:15vw;}


    
ul{list-style: none;
    line-height: 2vw;}
.about-text {line-height: 1.6;}
.about-text {font-size: 1.1rem;}
.star-rating-1{ padding-left: 15vw;
    color:#4E0A0B}
.star-rating{color:goldenrod}
#flex-contaner {display: flex;
    gap: 3vw;
    color:#4E0A0B;
    margin-left:13vw;
    margin-right:15vw;}
#felx-item1{flex: 1;
    min-width: 15vw;}
#flex-item2{flex: 1;
    min-width: 15vw;}
.book-title{font-size: 2vw;
    color:#4E0A0B;}
.book-rank{padding-left: 15vw;
    color:#4E0A0B;
    padding-right:15vw}
h4{padding-left:15vw;
    color:#badd7f;}
.blurred{ 
    filter: blur(1vw);
    transition: 0.3s ease;
    cursor: Pointer;}
.blurred:hover{filter:blur(0vw);}
a{margin-right: 15vw;
    list-style-type: none;
    font-size: 2vw;
    color:#4E0A0B;
    margin-left:10vw;}
.credits-list{ color:#3e8440;
    display: flex;
    flex-direction: column;
    gap: 2vw; margin: 10vw;
    border-radius: 15px}