body{background-color:#E38792;
font-family: Georgia;}
.nav-menu {background-color:#4E0A0B ;
    padding: 3vw;
    text-align: center;
    color:#f2eee8;
    border-radius:5px}
.nav-menu li {list-style-type: none;
    display: inline;
    padding: 0 1rem;
    font-size: 2vw;
    margin-bottom: 10vw;}
.nav-menu li a {color: #f2eee8; 
    text-decoration: none;}
main, h4{ color:#4E0A0B;
    padding-left: 15vw;
    padding-right: 15vw;}
.reviews-container{display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 30vw 50vw;
    gap: 3vw;
    padding-top: 10vw;
    color:#4E0A0B;}
.book-review {grid-column: 2;
    padding-right:15vw;
    background-color:#f2eee8;
    border-radius: 15px;
    padding: 3vw;}
.book-cover {max-height: 20vw;
    max-width: auto ;
    flex-shrink: 0;
    grid-column:1;
    padding-left: 15vw;
    border-radius: 5px;}
ul{list-style: none;
    line-height: 2vw;}

