body{background-color:#f2eee8;
font-family: Georgia;}
.nav-menu {padding: 1vw;
    text-align: center;
    color:#4E0A0B;}
.nav-menu li {list-style-type: none;
    display: inline;
    padding-inline: 3vw;
    font-size: 2vw;
    margin-bottom: 10vw;}
.nav-menu li a {color:#4E0A0B; 
    text-decoration: none;}
.reviews-container{display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 30vw 50vw;
    gap: 3vw;
    padding-top: 10vw;
    color:#4E0A0B;}
.book-review {grid-column: 2;
    padding-right:15vw;
    background-color:#f2eee8;
    border-radius: 15px;
    padding: 3vw;}
.book-cover {max-height: 20vw;
    max-width: auto ;
    flex-shrink: 0;
    grid-column:1;
    padding-left: 15vw;
    border-radius: 5px;}
ul{list-style: none;
    line-height: 2vw;}
.about-me{box-sizing: border-box;
    Background-color:#badd7f;
    color:#3e8440;}
.my-text{padding-left: 40vw;
    padding-right:15vw;
    padding-top: 5vw;
    padding-bottom: 5vw;}
