body{background-color:#f2eee8;
font-family: Georgia;}
.nav-menu {background-color:#f2eee8;
    padding: 0;}
.nav-menu ul {list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;}
.nav-menu li {margin: 0;}
.nav-menu a {margin-left: 3vw;
    display: block;
    color:#4E0A0B;
    text-decoration: none;
    padding:0;
    font-size: 1.2vw;}
hr{background-color:#3e8440;}
.reviews-container{display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 30vw 50vw;
    gap: 3vw;
    padding-top: 10vw;
    color:#4E0A0B;}
.book-review {grid-column: 2;
    padding-right:15vw;
    background-color:#f2eee8;
    border-radius: 15px;
    padding: 3vw;}
.book-cover {max-height: 20vw;
    max-width: auto ;
    flex-shrink: 0;
    grid-column:1;
    padding-left: 15vw;
    border-radius: 5px;}
ul{list-style: none;
    line-height: 2vw;}
.about-me{box-sizing: border-box;
    Background-color:#badd7f;
    color:#3e8440;}
.about-text{padding-left: 55vw;
    padding-right:15vw;
    padding-bottom: 5vw;}
.about-title {padding-left: 55vw;
    padding-right:15vw;
    padding-top: 5vw;}
.star-rating-1{ padding-left: 15vw;
    color:#4E0A0B}
.star-rating{color:#badd7f}
.lists-container{display: inline-flex;
    gap: 1vw;
    flex-wrap: flex;
    box-sizing: border-box;
    Background-color:#badd7f;
    color:#3e8440;
    box-align: center;}
.current-read{flex: 1;
    min-width: 15vw;}
.recs {flex: 1;
    min-width: 15vw;}
.book-title{font-size: 2vw;
    color:#3e8440;
    background-color:#badd7f;
    border-radius: 5px;
    padding:1vw}
.book-rank{padding-left: 15vw;
    color:#4E0A0B;
    padding-right:15vw}
h4{padding-left:15vw;
    color:#badd7f;}
.blurred{ 
    filter: blur(1vw);
    transition: 0.3s ease;
    cursor: Pointer;}
.blurred:hover{filter:blur(0vw);}
a{margin-right: 15vw;
    list-style-type: none;
    font-size: 2vw;
    color:#4E0A0B;}
.credits-list{ color:#3e8440;
    display: flex;
    flex-direction: column;
    gap: 2vw; margin: 10vw;
    border-radius: 15px}
