.nav-menu{background-color: lightgray;
    padding: 1.5rem;
    text-align: left;}
.nav-menu li{list-style-type: none;
    display: inline;
    padding: 0 1rem;
    font-size: calc(18px+0.5vw);}
    img {max-height: 10vw;
    max-width: auto ;}